@model ProyectoVentas.Models.Reposicion

@{
    ViewData["Title"] = "Detalle Reposición";
}
<br>
<h1>Detalle de Reposición</h1>
<br>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenda.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaReposicion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaReposicion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
