@model IEnumerable<ProyectoVentas.Models.NotificacionStock>

@{
    ViewData["Title"] = "Notificación de Stock";
}
<br>
<h1>Notificación de Bajo Stock</h1>
<br>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Prenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockActual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockMinimo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Prenda.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockActual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockMinimo)
            </td>
            
        </tr>
}
    </tbody>
</table>
