@model ProyectoVentas.Models.Prenda

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prenda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.stock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.stock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.talle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.talle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.publico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.publico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
